.clinic-page {
    .clinic-page-item {
        display: flex;
        justify-content: space-between;
        flex: 1;

        .clinic-doctor {
            .doctor-img {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .more {
                    cursor: pointer;
                    font-size: 12px;
                    text-decoration: underline;

                    color: rgb(126, 126, 126);
                    &:hover {
                        color: rgb(0, 0, 0);
                    }
                }

                img {
                    height: 100px;
                    width: 100px;
                    border-radius: 100000px;
                    object-fit: cover;
                }
            }

            .doctor {
                display: flex;
                flex-direction: column;
                align-items: start;
                flex: 1;

                .doctor-description {
                    text-align: left;
                }
            }
            .doctor-name {
                font-size: 20px;
                font-weight: 600;
            }
            // flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .clinic-doctor-schedule {
            // flex: 1;
            display: flex;
            // justify-content: center;
            align-items: center;
        }
    }
    .date {
        .dropdown {
        }
    }
    .calendar {
        .booking-title {
            font-size: 16px;
            font-weight: 700;
        }
    }

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        li {
            text-align: center;
            border-radius: 4px;
            width: fit-content;
        }
    }
}
